.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
    margin: 20px;
    float: left;
    display: inline-block;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container {
    padding: 2px 16px;
    background-color: rgb(20, 87, 141);
    color: white;
  }

  .btnstyle{
    background-color: rgb(20, 87, 141);
    color: white;
    border: none;    
    width: 100%;
  }
  
  button:focus {
    outline: none;
}

@media only screen and (max-width: 600px) {
  .card {
float: none;
display: block;
width: auto;
  }
}

